html,
body,
#root {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.calculator {
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 10px;
  width: 320px;
}

.row {
  margin: 0;
}

.col {
  padding: 5px;
}

.btn-warning {
  color: white;
}
