html,
body,
#root {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.calculator {
  border: 1px solid #ebebeb;
  box-shadow: 0 0 0 0.2rem rgba(235, 235, 235, 0.3);
  border-radius: 8px;
  padding: 10px;
  width: 320px;
}

.row {
  margin: 0;
}

.col {
  padding: 5px;
}

.btn-warning,
.btn-warning:focus,
.btn-warning:hover,
.btn-warning:not(:disabled):not(.disabled):active {
  color: white;
}
